<div class="container">
    <nav>
        {{#link-to 'cats' class="nav-link"}}Take home a cat{{/link-to}}
        {{#link-to 'new' class="nav-link"}}Deliver a cat{{/link-to}} 
    </nav>

    {{outlet}}
</div>
